In [1]:
my_list = "restaurent"
new = [x for x in my_list]
new

['r', 'e', 's', 't', 'a', 'u', 'r', 'e', 'n', 't']

In [2]:
t = (1,2,3,4,"mango")
new = [x for x in t]
new

[1, 2, 3, 4, 'mango']

using Map + lambda

In [ ]:
nums=[1,2,3,4,5]
my_list = map(lambda n: n*n, nums)

In [6]:
print(my_list)

<map object at 0x000001DF3FE29F60>

filter

In [7]:
my_list = filter(lambda n: n%2==0, nums)
my_list

Dictionary Comprehension

In [9]:
names = ["Bruce", "clark", 'Peter', 'Logan', 'Wade']
heros = ["Batman", 'Superman', 'Spiderman', 'Wolverine', 'Deadpool']


my_dict = {}
for name, hero in zip(names, heros):
    my_dict[name] = hero

my_dict

{'Bruce': 'Batman',
 'clark': 'Superman',
 'Peter': 'Spiderman',
 'Logan': 'Wolverine',
 'Wade': 'Deadpool'}

Set comprehension

In [10]:
nums = [1,1,2,1,3,4,5,6,5,6,7,8,8,9,9,9,1]
my_set = set()
for n in nums:
    my_set.add(n)
my_set

{1, 2, 3, 4, 5, 6, 7, 8, 9}

Generator Expression

In [11]:
nums = [1,2,3,4,5,6,7,8,9,10]

def gen_func(nums):
    for n in nums:
        yield n*n 

my_gen = gen_func(nums)

for i in my_gen:
    print(i)

1
4
9
16
25
36
49
64
81
100